.header {
    margin: 0 auto;
    padding: 28px 48px 0;
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /*Флексы равномерно распределяются по*/
    /*всей строке. Первый и последний элемент прижимаются*/
    /*к соответствующим краям контейнера*/
    /*в нижней части контейнера.*/
}
@media screen and (max-width: 768px) {
    .header {
        padding: 28px 24px 0;
    }
}
@media screen and (max-width: 425px) {
    .header {
        align-items: center;
        padding: 16px 16px 0;
    }
}