.place__web-link {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: white;
    text-decoration: underline;
    transition: opacity 0.3s;
}
.place__web-link:hover {
    opacity: 0.8;
}